.rank-grid {
  display: grid;
  grid-template-columns: 4em 20em 10em 3em 10em 3em;
  grid-auto-rows: 2em;
  row-gap: 4px;
  align-items: center;
}

.medal-grid {
  display: grid;
  grid-template-columns: 20em repeat(25, auto) minmax(0, 1fr);
  grid-auto-rows: auto;
  gap: 2px 8px;
}
.medal-grid .trophy {
  padding: 4px;
}

.empty {width: 0; height: 0;}

.time.value {
  font-family: 'Courier New';
}

.time {
  justify-self: end;
}
.rank-grid .trophy {
  justify-self: end;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

#fastest {
  margin-top: 32px;
}

section {
  font-size: 1em;
}

.phone section {
  font-size: 2em;
}

.day {
  padding-left: 1em;
}

.trophy {
  display: inline-block;
  width: 26px;
  height: 26px;
  stroke: black;
  stroke-width: 2em;
}

i.trophy svg {
  width: 100%;
  height: 100%;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: brown;
}