body.phone {
  /* font-size: larger; */
}

section {
  margin-bottom: 2em;
  font-size: 1em;
}

.rank-grid {
  display: grid;
  grid-template-columns: 2em 10em 10em 36px 10em 36px;
  grid-auto-rows: 2em;
  row-gap: 4px;
  align-items: center;
}

.medal-grid {
  display: grid;
  grid-template-columns: 2em 10em repeat(25, auto) minmax(0, 1fr);
  grid-auto-rows: auto;
  gap: 2px 8px;
}

.medal-grid .trophy {
  padding: 4px;
}

@media (max-width: 800px) {
  .rank-grid {
    grid-template-columns: auto auto 1fr 36px 1fr 36px;
  }
  .rank-grid div.name {
    min-width: 0;
    overflow: hidden;
  }
  .rank-grid div.day {
    min-width: 0;
    overflow: hidden;
  }

  .medal-grid {

  }
}

.empty {width: 0; height: 0;}

.time.value {
  font-family: 'Courier New';
}

.time {
  justify-self: end;
}
.rank-grid .trophy {
  justify-self: end;
}

.medal-grid div {
  display: flex;
  align-items: center;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

#fastest {
  margin-top: 32px;
}


.day {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.trophy {
  display: inline-block;
  width: 26px;
  height: 26px;
  stroke: black;
  stroke-width: 3em;
}

i.trophy svg {
  width: 100%;
  height: 100%;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #cd7f32;
}