#ranking-grid {
  display: grid;
  grid-template-columns: 30px 200px 80px 80px;
  row-gap: 4px;
}

#speed-grid {
  display: grid;
  grid-template-columns: 30px 200px 80px 80px;
  row-gap: 4px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

#fastest {
  margin-top: 32px;
}