#ranking-grid {
  display: grid;
  grid-template-columns: 4em 20em 15em 15em;
  row-gap: 4px;
}

#speed-grid {
  display: grid;
  grid-template-columns: 4em 20em 15em 15em;
  row-gap: 4px;
}

.time.value {
  font-family: 'Courier New';
  justify-self: 'end';
}

.link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

#fastest {
  margin-top: 32px;
}

section {
  font-size: 1em;
}

.phone section {
  font-size: 2em;
  color: red
}
